@import "../utils/mixin";
@import "../utils/variable";

@media screen and (min-width: 1200px) {
  .body {
    width: 1200px;
  }
  .benefit {
    &__item {
      width: 270px;
    }
  }
  .person {
    width: 270px;
  }
  .contact {
    display: flex;
  }
  .scope {
    display: block;
  }
  .newsletter {
    width: 500px;
    &-form__input {
      width: 300px;
    }
  }
  .btn-form {
    margin: 0;
  }
  .footer-address,
  .address {
    align-items: flex-start;
  }
  .grid__item {
    width: 370px;
  }
  .service {
    height: 600px;
  }
}
