@import "../utils/mixin";
@import "../utils/variable";

.service {
  @include display();
  flex-direction: column;
  row-gap: 30px;
  height: 400px;
  background-size: 100%;
  background-position: center;

  &__title {
    @include style-letter(26px, normal, 1.36, 900);
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    color: #fff;
  }
}
