@mixin display() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin style-letter($size, $style, $lineh, $weight) {
  font-size: $size;
  font-style: $style;
  line-height: $lineh;
  font-weight: $weight;
}
